<footer>
    <div class="footer-content">
        <div class="column">
            <p>About</p>
            <p>Contact Us</p>
            <p>FAQ</p>
        </div>
        <div class="column">
            <p>Special thanks to:</p>
            <a href="https://www.themoviedb.org/" target="_blank">🔗THEMOVIEDB.ORG</a> 
            <p>for providing the movie/tv data</p>
            and <a href="https://www.justwatch.com/" target="_blank">🔗JUSTWATCH.COM</a>
            <p>for watch providers data</p>
        </div>
        <div class="column">
            <p>Terms & Privacy</p>
        </div>
    </div>
</footer>
</html>