<link rel="stylesheet" href="/css/header.css">
<header>
    <nav>
        <div class="nav-section">
            <a class="nav-item" href="/">
                <img id="logo-small" src="/img/logo.png">
            </a>
            <a class="nav-item" href="/">
                <h3>Home</h3>
            </a>
            <a class="nav-item" href="/">
                <h3>About</h3>
            </a>
        </div>
        <div class="nav-section" id="left-nav-section">
        </div>
    </nav>
    <script src="/js/header.js"></script>
</header>