<link rel="stylesheet" href="/css/header.css">
<header>
    <nav>
        <div class="right-nav">
            <div class="nav-item">
                <a>
                    <h3>
                        Home
                    </h3>
                </a>
            </div>
            <div class="nav-item">
                <a>
                    <h3>
                        About
                    </h3>
                </a>
            </div>
        </div>
        <div class="left-nav">
        </div>
    </nav>
    <script src="/js/header.js"></script>
</header>