footer {
    display: flex;
    justify-content: center;
    position: relative;
    background: gradient.$lightbottom-to-darktop;
    margin-top: auto;
    padding: 3em 0 2em;
    transition: opacity .5s ease-in-out;

    .footer-content {
        display: grid;
        width: 50%;
        grid-auto-flow: column;
        column-gap: 1rem;
        font-size: .85rem;
        @include mixin.for-phone-only {
            width: 80%;
            column-gap: .5rem;
        }

        .column {
            display: grid;
            grid-auto-rows: max-content;
            row-gap: 1rem;
            font-size: .85rem;
            justify-content: center;

            p {
                margin: 0;
            }

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: color.$font-default;
                column-gap: 0.5rem;
            
                #moviedb {
                    height: 1rem;
                }

                #justwatch {
                    height: .8rem;
                }

                @include mixin.for-desktop-small {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}