.form-container {
    display: grid;
    text-align: center;
    justify-content: center;
}

.form-group {
    display: grid;
    text-align: center;
    padding: 1rem 5rem 0 5rem;
    width: 40rem;
}

.error-label {
    text-align: left;
    color: rgb(215, 35, 35);
    font-size: .8rem;
    min-height: 1.1rem;
}

.submit-button {
    justify-self: center;
    width: 15rem;
}

#failed-attempt {
    min-height: 1.1rem;
    color: rgb(215, 35, 35);
}

.spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.spinner {
    opacity: 0;
    width: 30px;
}

.spinner.enabled {
    opacity: 1;
    animation: spinner .6s linear infinite;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}