header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: .5fr 10fr .5fr;
    min-height: 3rem;
}

nav {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

.nav-section {
    display: flex;
}

.nav-item {
    padding: 0 1.5rem;
    color: rgb(255, 255, 255);
    transition: .2s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}

#logo-small {
    width: 2.7rem;
}

.nav-item:hover {
    background-color: rgb(255, 255, 255, 0.24);
}
