header {
    padding-bottom: 1rem;
}

nav {
    display: grid;
    grid-auto-flow: column;
    width: calc(100vw);
    background-color: rgb(255, 255, 255, 0.12);
}

.right-nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}

.left-nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    direction: rtl;
}

.nav-item {
    padding: 0 1.5rem;
    color: rgb(255, 255, 255);
    transition: .1s ease-in-out;
}

.nav-item.logo {
    display: grid;
    align-content: center;
}

.nav-item a {
    text-decoration: none;
    display: grid;
    align-content: center;
}

#logo-small {
    width: calc(2.5em + 1vh);
}

.nav-item:hover {
    background-color: rgb(255, 255, 255, 0.24);
}
