*, *:before, *:after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background:rgb(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
    background:rgb(255, 255, 255, 0.24);
}

::-webkit-scrollbar-thumb:hover {
    background:rgb(255, 255, 255, 0.36);
}

body {
    background: rgb(10, 16, 22);
    font-family: Arial, Helvetica, sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow: hidden scroll;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

h1,h2,h3,h4,h5,p,a,label,textarea {
    color: #f5eded;
}

.grid {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 1rem;
}

.grid-row {
    width: 40vw;
}