$dark-background: rgb(4, 14, 20);
$dark-background-alpha-50: rgba(4, 14, 20, .5);
$font-default: rgb(255, 255, 255);
$yellow-highlight: rgb(	255, 255, 149);
$description-marine: rgba(152, 196, 196, 0.5);
$white-alpha-0: rgba(255, 255, 255, 0);
$white-alpha-1p5: rgba(255, 255, 255, 0.015);
$white-alpha-6: rgba(255, 255, 255, 0.06);
$white-alpha-12: rgba(255, 255, 255, 0.12);
$white-alpha-24: rgba(255, 255, 255, 0.24);
$white-alpha-36: rgba(255, 255, 255, 0.36);