$filur: linear-gradient(180deg, rgba(215,164,100,1) 0%, rgba(215,100,100,1) 100%);
$filur-reverse: linear-gradient(180deg, rgba(215,100,100,1) 0%, rgba(215,164,100,1) 100%);
$red-to-blue: linear-gradient(202deg, rgba(18,60,87,0.75) 0%, rgba(215,100,100,0.75) 100%);
$red-to-blue-hover: linear-gradient(202deg, rgba(18,60,87,1) 0%, rgba(215,100,100,1) 100%);
$lightbottom-to-darktop: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.12) 100%);
$green-blue: linear-gradient(202deg, rgba(18,60,87,1) 0%, rgba(127,203,127,1) 100%);